@page "/distributor/"
@page "/distributor/shop"
@using TinyEcomStore.Client.Models;
@inject IDistributorService DistributorService

<TinyEcomStore.Client.Pages.Distributor.Shared.DistributorSideNav />
<div class="distributor-content">
    <div class="col gap-4">
        <div class="col-sm-4 col-md-3 ">
            <div class="shop-item">
                <img src="http://images.amazon.com/images/P/0596004605.01._PE50_PI_SCMZZZZZZZ_.jpg" class="shop-item-img" alt="" />
                <p class="shop-item-title">card title</p>
                <div class="shop-item-overlay"></div>
                <div class="shop-item-button"><a href="#"> Buy Now </a></div>
            </div>
        </div>
    </div>

    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
            </tr>
        </thead>
        <tbody>
            @if (products is null)
            {
                <p>No products found</p>
            }
            else
            {
                @foreach (var product in products)
                {
                    <tr>
                        <td>@product.Name</td>
                        <td>@product.Price</td>
                    </tr>
                }
            }
           
                <tr><td>asdasdasdas</td></tr>
        </tbody>
    </table>
    
</div>


@code {
    private List<Products>? products;
    protected override async Task OnInitializedAsync()
    {
       products = await DistributorService.getProducts();
    }

}
