@page "/distributor/"
@page "/distributor/shop"
@using TinyEcomStore.Client.Models;
@inject IDistributorService DistributorService

<TinyEcomStore.Client.Pages.Distributor.Shared.DistributorSideNav />
<div class="distributor-content">
    @if(products is null)
    {
      <p>No Products found</p>
    }else{
    <div class="row">  
        @foreach (var product in products){
          <div class="col-sm-4 col-md-4 col-sm-offset-8">
             <div class="shop-item">
               <img src="@product.FilePath" class="shop-item-img" alt="" />
               <p class="shop-item-price">@product.DP.ToString("N2")</p>
               <div class="shop-item-overlay"></div>
               <div class="shop-item-button"><a href="#"> Add to Cart </a></div>
               <div class="shop-item-name"><p>@product.Name</p></div>
             </div>
           </div>
            }
    </div>
    }

</div>


@code {
    private List<Products>? products;
    protected override async Task OnInitializedAsync()
    {
       products = await DistributorService.getProducts();
    }

}
